@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"),
    url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"),
    url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
